{% extends 'accounts/base.html' %}
{% block title %}Login | Redo io{% endblock %}
{% load static %}
{% block content %}
    {% load redotags %}
    <div class="wrapper">
        <div class="inner">
            <form action="" method="post">
<a href="{% url 'home' %}" style="display: flex;align-items: center;justify-content: center;margin-bottom: 20px;gap: 7px;text-decoration: none;">
						<img src="{% static 'images/logo.svg' %}" style="width: 35px;height: 35px;" alt="logo">
						<h3>Redo</h3>
					</a>
					
                {% csrf_token %}

                {% if form.errors %}
                    <ul style="margin: 5px; color: #dc2626;">
                        {% for error in form.non_field_errors %}
                            <li style="margin-left: 10px;"><small>{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="form-wrapper">
                    <label for="id_email">E-mail</label>
                    {{ form.email|redo_class:"form-control"|redo_holder:"e-mail" }}
                </div>
                
                <button type="submit" class="form-button">Reset password</button>
				<div style="margin: 20px 0;display: flex;align-items: center;justify-content: space-between;padding: 0 20px;">
                <a href="{% url 'login' %}" style="font-style: italic;color: #f97316;">Login</a>
            </div>
            </form>

            
        </div>
    </div>
{% endblock %}
