{% extends 'accounts/base.html' %}
{% block content %}
    <style>
        

        h1 {
            margin-bottom: 10px;
            color: #007bff;
        }

        p {
            margin-bottom: 20px;
            color: #444;
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="wrapper">
        <div class="inner">
            <h1>Password reset sent</h1>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder</p>
            
        </div>
    </div>
{% endblock %}