{% extends 'accounts/base.html' %}
{% block title %}Login | Redo io{% endblock %}
{% load static %}
{% block content %}
    {% load redotags %}
    <div class="wrapper">
        <div class="inner">
            <form action="" method="post">
<a href="{% url 'home' %}" style="display: flex;align-items: center;justify-content: center;margin-bottom: 20px;gap: 7px;text-decoration: none;">
						<img src="{% static 'images/logo.svg' %}" style="width: 35px;height: 35px;" alt="logo">
						<h3>Redo</h3>
					</a>
					
                {% csrf_token %}

                					{% if form.errors %}
    <ul style="margin: 5px;">
        {% for field in form %}
            {% for error in field.errors %}
                <li style="color: #dc2626;margin-left: 20px;"><small>{{ error }}</small><br></li>
            {% endfor %}
        {% endfor %}
	</ul>
{% endif %}
                <div class="form-wrapper">
                    <label for="id_username">New password</label>
                    {{ form.new_password1|redo_class:"form-control"|redo_holder:"••••••••••" }}
                </div>
                <div class="form-wrapper">
                    <label for="id_password">Confirm password</label>
                    {{ form.new_password2|redo_class:"form-control"|redo_holder:"••••••••••" }}
                </div>

                <button type="submit" class="form-button">Change password</button>
				
            </form>

            
        </div>
    </div>
{% endblock %}
