{% extends 'accounts/base.html' %}
{% block content %}
    <style>
        

        h1 {
            margin-bottom: 10px;
            color: #dc3545;
        }

        p {
            margin-bottom: 20px;
            color: #444;
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            background-color: #dc3545;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #b2001c;
        }
    </style>
    <div class="wrapper">
        <div class="inner">
            <h1>Verification Failed</h1>
            <p>We're sorry, but the email verification process has failed.</p>
            <p>Please make sure you clicked on the correct verification link or try resending the verification email.</p>
            <a class="btn" href="{% url 'verify_email' %}">Resend Verification Email</a>
        </div>
    </div>
{% endblock %}