{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'main/pwa.html' %}
<head>
    <script>if (localStorage.getItem('color-theme')==='dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)){ document.documentElement.classList.add('dark');} else{ document.documentElement.classList.remove('dark')}
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Redo io.{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-white dark:bg-gray-950">
    <!-- <div id="loader" class="h-screen fixed z-40 left-0 w-full top-0 flex items-center bg-white dark:bg-gray-950 justify-center">
        <img src="{% static 'images/p.gif'%}" class="h-12 w-12 hidden dark:flex object-cover rounded-lg" alt="">
        <img src="{% static 'images/white.gif'%}" class="h-12 w-12  dark:hidden object-cover rounded-lg" alt="">
    </div>-->
    {% include 'main/messages.html' %} 
    {% block nav%}
    {% include 'main/nav.html' %}
    {% endblock %}
    {% block content %}
    
    {% endblock %}



<button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex p-2 fixed bottom-8 right-1 md:right-10 bg-orange-500 mx-3 text-sm  rounded-full md:mr-0 focus:ring-1 focus:ring-orange-300" type="button">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 text-white h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

    </span>
</button>

<!-- Dropdown menu -->
<div id="dropdownAvatar" class="z-10 hidden  divide-y bg-transparent divide-gray-100 rounded-lg shadow w-44  dark:divide-gray-600">
    <ul class="py-2 text-sm  text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
      <li>
        <a href="#" class="px-4 py-2 items-center  gap-5 flex">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
            </span>
            <span class="text-lg">Post</span>
        </a>
      </li>
      
    </ul>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script src="{% static 'js/theme.js'%}"></script>
    <!-- <script>
        const closeDown=()=>{
            document.getElementById('loader').style.display='none';
        }
        setTimeout(closeDown,3000)
    </script> -->
</body>
</html>